@import"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap";

@font-face {
    font-family: Impact;
    src: url(../media/impact-webfont.209da56b.woff2) format("woff2"), url(../media/impact-webfont.be407e2d.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Vanguard_CF;
    src: url(../media/vanguard-cf-bold-webfont.dcc204e5.woff2) format("woff2"), url(../media/vanguard-cf-bold-webfont.f291bdeb.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Vanguard_CF;
    src: url(../media/vanguard-cf-regular-webfont.a01fb81b.woff2) format("woff2"), url(../media/vanguard-cf-regular-webfont.adff3252.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Vanguard_CF;
    src: url(../media/vanguard-cf-light-webfont.5cb77df5.woff2) format("woff2"), url(../media/vanguard-cf-light-webfont.98dc3421.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: SF_Pro_Display;
    src: url(../media/fontsfree-net-sfprodisplay-heavy-webfont.6c20ad42.woff2) format("woff2"), url(../media/fontsfree-net-sfprodisplay-heavy-webfont.18415a05.woff) format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: SF_Pro_Display;
    src: url(../media/fontsfree-net-sfprodisplay-bold-webfont.6eb1dfd0.woff2) format("woff2"), url(../media/fontsfree-net-sfprodisplay-bold-webfont.f874385a.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: SF_Pro_Display;
    src: url(../media/fontsfree-net-sfprodisplay-semibold-webfont.a370a1fd.woff2) format("woff2"), url(../media/fontsfree-net-sfprodisplay-semibold-webfont.5f58d7bb.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: SF_Pro_Display;
    src: url(../media/fontsfree-net-sfprodisplay-medium-webfont.c49a927a.woff2) format("woff2"), url(../media/fontsfree-net-sfprodisplay-medium-webfont.8b0fe894.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

main._home_home__CIAPi ._home_heroLogo__tA6CF {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
    margin-bottom: 50px;
    transition: all .6s ease
}

@media(min-width:576px) {
    main._home_home__CIAPi ._home_heroLogo__tA6CF {
        margin-bottom: 100px
    }
}

main._home_home__CIAPi ._home_heroLogo__tA6CF svg {
    width: 100%;
    height: auto;
    display: block
}

._home_socialLinks__RliK4 {
    margin-bottom: 60px
}

._home_socialLinks__RliK4 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0
}

._home_socialLinks__RliK4 ul li {
    margin: 0;
    padding: 0 5px
}

._home_socialLinks__RliK4 ul li a[href="#"] {
    pointer-events: none
}

._home_socialLinks__RliK4 ul li a[href="#"] svg {
    opacity: .5
}

._home_socialLinks__RliK4 ul li a svg {
    fill: #eeeada;
    transition: fill .4s ease
}

._home_socialLinks__RliK4 ul li a:hover svg {
    fill: #d46c68
}

._home_mainTitle__KK_lJ {
    color: #d46c68;
    text-align: center;
    font-size: calc(.7rem + 12vw);
    line-height: .84em;
    margin-bottom: 50px
}

@media(min-width:576px) {
    ._home_mainTitle__KK_lJ {
        margin-bottom: 100px
    }
}

@media(min-width:1400px) {
    ._home_mainTitle__KK_lJ {
        font-size: 200px
    }
}

._home_textImageCols__eG_cU {
    margin-bottom: 100px
}

._home_textImageCols__eG_cU ._home_imgCol__ydvKv {
    display: flex;
    justify-content: center;
    align-items: center
}

._home_textImageCols__eG_cU ._home_imgCol__ydvKv img {
    width: 100%;
    height: auto;
    max-width: 426px;
    display: block
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    text-align: center
}

@media(min-width:992px) {
    ._home_textImageCols__eG_cU ._home_textCol__Glbj_ {
        margin-top: 0;
        justify-content: flex-start;
        text-align: left
    }
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI h2 {
    margin-bottom: 24px;
    font-family: Impact, sans-serif;
    font-size: 47px;
    line-height: 56px;
    color: #eeeada
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI h2 br {
    display: none
}

@media(min-width:576px) {
    ._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI h2 br {
        display: block
    }
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p {
    max-width: 488px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-family: SF_Pro_Display, sans-serif;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    color: #eeeada
}

@media(min-width:992px) {
    ._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p {
        margin-left: 0;
        margin-right: 0
    }
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p strong {
    display: block;
    -webkit-font-smoothing: initial
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI em {
    display: block;
    margin-bottom: 48px;
    font-family: SF_Pro_Display, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    text-transform: uppercase;
    color: #d46c68
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_connectWallet__kaWMq {
    margin-left: 30px;
    margin-right: 30px
}

@media(min-width:470px) {
    ._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_connectWallet__kaWMq {
        margin-left: 0;
        margin-right: 30px
    }
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn {
    width: 209px;
    position: relative;
    color: #eeeada
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn:before {
    content: "Connect your wallet";
    position: relative;
    z-index: 1;
    color: #eeeada
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn svg {
    width: 110px;
    height: auto;
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    fill: transparent;
    transition: fill .4s ease
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn:hover {
    background-color: transparent
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn:hover:before {
    color: #eeeada
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn:hover svg {
    fill: #d46c68
}

._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn:active,
._home_textImageCols__eG_cU ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI ._home_ctaWrapper__V16N8 ._home_sprayIcon__d1ryn:focus {
    border: none;
    background-color: transparent;
    outline: none !important;
    box-shadow: -2px -2px 11px rgba(96, 114, 140, .8), 3px 6px 10px rgba(1, 5, 11, .8) !important
}

._home_countDown__1dkh1 {
    text-align: center;
    margin-bottom: 120px
}

@media(min-width:576px) {
    ._home_countDown__1dkh1 {
        margin-bottom: 200px
    }
}

._home_countDown__1dkh1 img {
    width: 257px;
    height: auto;
    display: block;
    margin: 0 auto 34px
}

._home_countDown__1dkh1 h2 {
    margin-bottom: 34px;
    font-size: calc(2.6rem + 3vw);
    font-weight: 300;
    line-height: 72px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #eeeada
}

@media(min-width:1400px) {
    ._home_countDown__1dkh1 h2 {
        font-size: 80px
    }
}

._home_countDown__1dkh1 h2 span {
    font-size: 2em;
    line-height: 1.1em;
    display: block
}

._home_roadMap__anRvG {
    margin-bottom: 0
}

._home_roadMap__anRvG h2 {
    margin-bottom: 64px;
    font-size: calc(2.6rem + 3vw);
    font-weight: 300;
    line-height: 72px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #eeeada
}

@media(min-width:1400px) {
    ._home_roadMap__anRvG h2 {
        font-size: 80px
    }
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI {
    padding: 60px 10px;
    border: 2px solid #eeeada;
    border-radius: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    background-image: url(https://cdn.weownthenight.io/images/road.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

@media(min-width:768px) {
    ._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI {
        padding: 90px
    }
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_videoControlLayer__AqX9C {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    width: calc(100% - 20px);
    height: calc(100% - 120px)
}

@media(min-width:768px) {
    ._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_videoControlLayer__AqX9C {
        width: calc(100% - 180px);
        height: calc(100% - 180px)
    }
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_videoWrapper__ez7ui {
    width: 100%;
    height: auto;
    position: relative
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_videoWrapper__ez7ui:after {
    content: "";
    position: absolute;
    top: 97%;
    left: 50%;
    width: 120%;
    height: 20%;
    display: block;
    transform: translateX(-50%);
    background-image: url(https://cdn.weownthenight.io/images/shadow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_videoWrapper__ez7ui div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    z-index: 1
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_videoWrapper__ez7ui div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_topLeftIcons___Mw3z {
    width: 113px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 20px
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_topLeftIcons___Mw3z svg {
    width: 100%;
    height: auto;
    display: block
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_bottomLeftIcon__1GRL8 {
    width: 84px;
    height: auto;
    position: absolute;
    left: -1px;
    bottom: -1px
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_bottomLeftIcon__1GRL8 svg {
    width: 100%;
    height: auto;
    display: block
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_topRightIcon__QAseF {
    width: 84px;
    height: auto;
    position: absolute;
    top: -1px;
    right: -1px
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_topRightIcon__QAseF svg {
    width: 100%;
    height: auto;
    display: block
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_roadMapHeading__L8rCV {
    margin-bottom: 0;
    color: #eeeada;
    font-size: 29px;
    line-height: 45px;
    font-family: Impact, sans-serif
}

._home_roadMap__anRvG ._home_mapCol__q7X4W ._home_innerWrapper__4bGNI ._home_roadMapHeading__L8rCV span {
    color: #d46c68
}

._home_roadMap__anRvG ._home_accentCol__eMIJv ._home_innerWrapper__4bGNI {
    height: 100%;
    padding: 0 3px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse
}

@media(min-width:992px) {
    ._home_roadMap__anRvG ._home_accentCol__eMIJv ._home_innerWrapper__4bGNI {
        margin-top: 0;
        flex-direction: column;
        flex-wrap: wrap
    }
}

._home_roadMap__anRvG ._home_accentCol__eMIJv ._home_innerWrapper__4bGNI svg {
    width: auto;
    height: auto;
    display: block;
    max-height: 70px;
    max-width: 50px
}

@media(min-width:576px) {
    ._home_roadMap__anRvG ._home_accentCol__eMIJv ._home_innerWrapper__4bGNI svg {
        max-height: 110px;
        max-width: 80px
    }
}

@media(min-width:992px) {
    ._home_roadMap__anRvG ._home_accentCol__eMIJv ._home_innerWrapper__4bGNI svg {
        max-height: unset;
        max-width: 100%
    }
}

._home_roadMap__anRvG ._home_bottomSection__0z69M {
    padding-top: 80px;
    background-image: url(https://cdn.weownthenight.io/images/Bike-RiderBgOffset4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    overflow: hidden
}

._home_roadMap__anRvG ._home_bottomSection__0z69M h2 {
    margin-bottom: 50px;
    color: #d46c68;
    font-family: Vanguard_CF, sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 72px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased
}

._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_twoColRow__Vphue {
    max-width: 940px;
    margin: 0 auto
}

._home_roadMap__anRvG ._home_bottomSection__0z69M p {
    max-width: 700px;
    margin: 0 auto 1rem;
    font-family: SF_Pro_Display, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #eeeada
}

._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg {
    max-width: 940px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

@media(min-width:768px) {
    ._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg {
        flex-direction: row;
        align-items: flex-start
    }
}

._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg ._home_phase__JnCDd {
    text-align: center;
    padding: 0 15px 30px
}

@media(min-width:768px) {
    ._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg ._home_phase__JnCDd {
        padding: 0 15px;
        min-width: 33.333%
    }
}

._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg ._home_phase__JnCDd h3 {
    color: #d46c68;
    font-family: Vanguard_CF, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-transform: uppercase
}

._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg ._home_phase__JnCDd._home_redacted__j8NIA p {
    position: relative;
    z-index: 1
}

._home_roadMap__anRvG ._home_bottomSection__0z69M ._home_phases__U03jg ._home_phase__JnCDd._home_redacted__j8NIA p:after {
    content: "REDACTED";
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 106px;
    padding-top: 17px;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='86' fill='none' viewBox='0 0 110 86'%0A%3E%3Cpath d='M76.458 53.6c-.549-2.075-1.415-4.15-1.646-6.255-.52-4.871-.866-9.743-1.097-14.643-.145-3.229-1.907-4.785-4.824-4.468-5.4.605-10.773 1.47-16.087 2.508-4.823.95-9.617 2.162-14.325 3.545-1.069.317-1.906 1.7-2.657 2.739-.953 1.326-1.704 2.767-2.57 4.15-.983-1.239-1.936-2.507-3.698-4.756.087 7.466.174 13.98.26 20.466-.837.116-1.704.23-2.541.346-1.04-6.14-2.08-12.25-3.12-18.39-.808.057-1.646.115-2.454.144.288 15.623.606 31.218.895 46.841L20.977 86c-.954-4.295-2.282-8.59-2.802-12.943-.838-6.831-1.415-13.72-1.617-20.581-.318-10.637-.636-11.127-11.322-11.76-1.589-.087-3.177-.116-4.737-.174-1.733-11.357.81-14.989 11.35-20.235C24.328 14.08 37.816 12.092 51.188 9.41 66.985 6.24 82.87 3.415 98.697.273c4.621-.922 8.145.461 9.878 4.612 2.917 7.005 1.299 12.597-4.332 14.701-7.539 2.796-15.366 4.843-22.875 7.668-1.473.547-3.003 3.113-3.032 4.785-.087 5.044.635 10.117.866 15.19.087 2.019-.26 4.065-.404 6.112-.809.086-1.589.173-2.34.26z' fill='%23D46C68'%3E%3C/path%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 130px 106px;
    font-family: SF_Pro_Display, sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #eeeada;
    text-align: center
}

._home_twoBoxes__IHAGj {
    margin-bottom: 100px;
    border-top: 2px solid #eeeada;
    border-bottom: 2px solid #eeeada
}

@media(min-width:576px) {
    ._home_twoBoxes__IHAGj {
        margin-bottom: 200px
    }
}

._home_twoBoxes__IHAGj._home_faq__hyWZu {
    margin-bottom: 0
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ {
    border-right: 2px solid #eeeada;
    padding-right: 0
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_headingBox__8UtL_ {
    padding: 10px 0 5px;
    border-bottom: 2px solid #fff
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_headingBox__8UtL_ h2 {
    margin: 0 10px 0 0;
    font-size: 80px;
    color: #d46c68;
    line-height: 1em;
    text-align: center
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI {
    padding: 24px;
    height: calc(100% - 97px);
    display: flex;
    align-items: center
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI img {
    width: 100%;
    height: auto;
    display: block
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI h3 {
    font-family: SF_Pro_Display, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #eeeada
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p {
    color: #eeeada;
    font-family: SF_Pro_Display, sans-serif;
    font-weight: 500;
    font-size: 16px;
    -webkit-font-smoothing: antialiased
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p span {
    color: #d46c68
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p a {
    color: #d46c68;
    transition: color .4s ease
}

._home_twoBoxes__IHAGj ._home_textCol__Glbj_ ._home_innerWrapper__4bGNI p a:hover {
    color: #fff
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI {
    padding: 30px 30px 50px;
    height: 100%;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

@media(min-width:576px) {
    ._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI {
        min-height: 490px
    }
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI._home_merch__0v8Ds {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url(https://cdn.weownthenight.io/images/06_Hoodie-Mock-up-2_folded-front-side-2.png)
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI._home_faq__hyWZu {
    min-height: 400px;
    padding: 30px 30px 90px
}

@media(min-width:992px) {
    ._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI._home_faq__hyWZu {
        min-height: 630px;
        padding: 90px
    }
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI._home_faq__hyWZu ._home_faq__hyWZu {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.weownthenight.io/images/driveForYourLife.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI h3 {
    color: #d46c68;
    font-size: 80px;
    line-height: .9em;
    text-align: center
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: color .4s ease
}

._home_twoBoxes__IHAGj ._home_imgCol__ydvKv ._home_innerWrapper__4bGNI a:hover {
    color: #d46c68
}

._home_driversGrid__yX5Ju {
    margin-bottom: 30px
}

@media(min-width:576px) {
    ._home_driversGrid__yX5Ju {
        margin-bottom: 120px
    }
}

._home_driversGrid__yX5Ju h2 {
    margin-bottom: 48px;
    color: #d46c68;
    font-size: 80px;
    text-align: center
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI {
    margin-bottom: 80px;
    position: relative
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 24px
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: calc(1rem + 3.4vw);
    line-height: 40px;
    font-weight: 400;
    color: #eeeada
}

@media(min-width:992px) {
    ._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI h3 {
        font-size: 34px
    }
}

@media(min-width:1070px) {
    ._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI h3 {
        font-size: 38px
    }
}

@media(min-width:1300px) {
    ._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI h3 {
        font-size: 48px
    }
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_innerWrapper__4bGNI p {
    font-size: 16px;
    font-weight: 500;
    font-family: SF_Pro_Display, sans-serif;
    line-height: 19px;
    color: #eeeada;
    -webkit-font-smoothing: antialiased
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_bioAccordion__R2_J2 button {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    padding: 0;
    font-size: 1.2rem
}

@media(max-width:440px) {
    ._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_bioAccordion__R2_J2 button {
        position: absolute;
        left: 0;
        bottom: -48px;
        margin: 0
    }
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_bioAccordion__R2_J2 button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: auto;
    display: block;
    fill: #eeeada;
    transition: fill .4s ease
}

._home_driversGrid__yX5Ju ._home_driverCol__9XPI9 ._home_bioAccordion__R2_J2 button:hover svg {
    fill: #252525
}

._home_fullScreenImg__gZmOF img {
    width: 100%;
    height: auto;
    display: block
}